*.a
*.o
*.py[co]
*.so
.dll
*.sw[nop]
*~
.#*
[#]*#
*.tar
*.tgz
*.gz
*.bz2
.coverage
.DS_Store
Untitled*.ipynb
*.aux
*.bbl
*.blg
*.log
*.pdf
__pycache__
.pytest_cache
.ipynb_checkpoints
.vscode
.gitconfig.local
core.*